<% @batches.each do |b|%>
  <dt>Codigo do lote:<%= link_to(b.code, batch_path(b.id)) %></dt>
  <% b.items.each do |item|%>
    <ul>
      <li><%= item.name %></li>
    </ul>
  <% end %>
  <% if b.bids.count > 0 %>
    <%= button_to 'Encerrar', close_batch_path(b), method: :put %>
  <% else %>
    <%= button_to 'Cancelar', batch_path(b), method: :delete %>
  <% end %>
<% end %>
