<%= stylesheet_link_tag "batches-page" %>
<div class="batches-page">
  <% @batches.each do |b|%>
    <div class="card">
      <div class="card-header">Lote <%= b.code %></div>
      <div class="card-body">
        <p>Vencedor: <%= b.winner.email %></p>
      </div>
      <div class="card-footer">
        <%= button_to 'Detalhes', batch_path(b.id), class: 'default', method: :get %>
      </div>
    </div>
  <% end %>
</div>
