<div class="top-header-row">
  <h1>Categorias</h1>
  <%= link_to('Criar nova categoria', new_category_path)%>
</div>

<div class="batches-page">
  <% @categories.each do |c|%>
    <div class="card">
      <p>Categoria: <%=c.name%></p>
      <p>Descrição: <%=c.description%></p>
    </div>
  <% end %>
</div>

